$purple-color: rgb(39, 39, 175);
// * { border: 1px solid black; }
.about {
  
  .wrap {
    width: 100%;
    .item {
      min-height: 600px;
      border-radius: 5px;
      padding: 20px;
      background-color: #0d0d0d;
      .text-wrapper {
        color: white;
      }
      position: relative;
      .img-wrap {
        height: 800px;
        position: absolute;
        right: 0px;
        img {
          border-radius: 10px;
          object-fit: cover;
          width: 100%;
          height: 80%;
        }
      }
    }
    .item2 {
      min-height: 600px;
      border-radius: 5px;
      padding: 20px;
      .text-wrapper {
        color: black;
      }
      position: relative;
      .img-wrap {
        height: 800px;
        position: absolute;
        right: 0px;
        img {
          object-fit: cover;
          border-radius: 10px;
          width: 100%;
          height: 70%;
        }
      }
    }

    @media screen and (max-width: 991px) {
      
        .item {
          .text-wrapper {
            color: white;
          }

          .img-wrap {
            position: relative;
            height: 400px;
            img {
              top: 20px;
              right: 10%;
              position: absolute;
              border-radius: 50px;
              width: 70%;
              height: 100%;
            }
          }
        }
        .item2 {
          .text-wrapper {
            color: black;
          }

          .img-wrap {
            position: relative;
            height: 400px;
            img {
              top: 20px;
              right: 10%;
              position: absolute;
              border-radius: 50px;
              width: 70%;
              height: 100%;
            }
          }
        }
      
    }

    @media screen and (max-width: 376px) {
      p {
        font-size: 15px;
      }
    }

    .right {
    }
  }
}
