$purple-color: rgb(39, 39, 175);
.about {
  
  .wrap {
    width: 100vw;
    .item {
      min-height: 600px;
      border-radius: 5px;
      padding: 20px;
      background-color: #0d0d0d;
      .text-wrapper {
        color: white;
      }
      position: relative;
      .img-wrap {
        position: absolute;
        left: 50%;
        bottom: 0%;
        top:1%;
        right:0%;
    
        
        img {
          border-radius: 10px;
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
    .item2 {
      min-height: 600px;
      border-radius: 5px;
      padding: 20px;
      .text-wrapper {
        color: black;
      }
      position: relative;
      .img-wrap {
        position: absolute;
         left: 50%;
        bottom: 0%;
        top:1%;
        right:0%;
        img {
          border-radius: 10px;
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }

    @media screen and (max-width: 991px) {
      
        .item {
          .text-wrapper {
            color: white;
          }

          .img-wrap {
            flex: 1.3;
            position: relative;

            img {
              top: 0px;
              right: 10%;
              position: absolute;
              border-radius: 50px;
              width: 70%;
            }
          }
        }
        .item2 {
          .text-wrapper {
            color: black;
          }

          .img-wrap {
            flex: 1.3;
            position: relative;

            img {
              top: 0px;
              right: 10%;
              position: absolute;
              border-radius: 50px;
              width: 70%;
            }
          }
        }
      
    }

    @media screen and (max-width: 376px) {
      p {
        font-size: 15px;
      }
    }

    .right {
    }
  }
}
