.top {
    .filter-item {
        
      .btn {
        color: #1c1b1a;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1px;
        padding-left: 40px;
      }


      .btn:hover {
        color: #64615b;
        transition: 0.5s;
      }
    }
  }