.styled-card {
  flex-basis: 25%;
    
  .card-body{
    
        .item-info{
            font-weight: bold;
            .price{
                gap:10px;
            }
        }

        .card-text{
            
        }

    }
}
.styled-card:hover {
 border: 1px solid rgb(202, 202, 202);
}
