.home{
    color: black;
    .content{
        height: 1000px;
        
    }

    .videoTag{
       
  object-fit: cover;
  width: 100vw;
  height: 690px;
  
  top: 0;
  left: 0;


        
    }
    
}