.styled-card {
  flex-basis: 25%;

  .card-body{

        .item-info{
            font-weight: bold;
            .price{
                gap:10px;
            }
        }

    }
}

.styled-card:hover{
    border: 1px solid rgb(218, 218, 218);
  }

