
.top {
  .top-header {
  }

  @media screen and (max-width: 376px) {
    .top-header {
      display: flex;
      justify-content: center;

      h1 {
        font-size: 30px;
      }
    }
  }
}

.center {
  @media screen and (max-width: 376px) {
    p {
      font-size: 12px !important;
    }
  }
}

// @media screen and (max-width: 991px) {
//   .filter-header {
//   }
// }
    
    
    .bottom {
      
      .item{
        border-radius: 5px;
        padding: 20px;
        background-color: rgba(60, 60, 201, 0.122);
      }
      
    }


