// @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.app {
  * {
    font-family: "Prompt", sans-serif;
    // outline: 1px solid red;
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
  }
  h2 {
    font-weight: bold;
  }

  p {
    font-size: 23px;
  }
  // TABLET
  @media screen and (max-width: 991px) {
    }
    // MOBILE
    @media screen and (max-width: 376px) {
      p {
        font-size: 15px;
      }
    }

  .link {
    color: #d5ccc0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .link:hover {
    color: white;
    transition: 0.5s;
  }
}
