// @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.app {
  
  *{
 font-family: 'Prompt', sans-serif;
 //  outline: 1px solid red;
}
   
  .link {
    color: #d5ccc0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .link:hover {
    color: white;
    transition: 0.5s;
  }
}
