
// COLORS IN USE

// BUTTONS
$purple-color: rgb(39, 39, 175);
$danger-color: rgb(189, 1, 1);

// BUTTONS HOVER
$purple-color-hover: rgb(68, 68, 171);

// COLORES NOT IN USE

$base-color: #c6538c;

// NAVBAR LINKS
$bronze-color: #d5ccc0;