.errorMessage{
    color:rgb(230, 0, 0);
    font-size: 12px;
    display: none;
}

.inputName:invalid[focused="true"] ~ .errorMessage{
    display: block;
}

.inputName:invalid[focused="true"]{
    border: 1px solid red;
}
.inputEmail:invalid[focused="true"] ~ .errorMessage{
    display: block;
}

.inputEmail:invalid[focused="true"]{
    border: 1px solid red;
}